/* CONTATO */

.contato {
    background: url(../img/bg-contato.jpg) no-repeat center center;
    padding: 0px;
}

/* WHATSAP*/

.wpp-box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 526px;
    box-sizing: border-box;
    font-style: italic;
    background: #fff;
    padding: 2rem;
    border: 1px solid var(--white-3);
    margin: 0 auto;
    text-align: left;
}

.wpp {
    text-align: center;
}