/* ESTILOS PADROES */

html {
    --blue1: #44a9fc;
    --blue2: #3399ee;
    --blue3: #2188de ;
    --green-1: #75ba1e;
    --green-2: #66aa11;
    --green-3: #599c06;
    --white-1: #fafbfc;
    --white-2: #ecedee;
    --white-3: #dcddde;
    --black-1: #404b52;
    --black-2: #313842;
    --black-3: #232c33;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--white-1);
    color: var(--black-1);
}



h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

p {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

section {
    padding: 4rem 0rem;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cta {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background: var(--green-2);
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease;
}

.cta:hover {
    background: var(--green-3);
}

.titulo {
    font-size: 1.5rem;
    color: var(--blue1);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

/* HEADER */

.header {
    position: fixed;
    top: 0 ;
    width: 100%;
    padding: 1.25rem 0;
    background-image: linear-gradient(135deg, var(--blue1), var(--blue3));

    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header ul {
    display: flex;

}

.header li + li  {
    margin-left: 1rem;
}

.header li a {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: 0.1s ease-out;
}

.header li a:hover,
.header li a.ativo {
    border-bottom: 2px solid #fff ;
}

/*MAIN*/

.main {
    margin-top: 67.4px;
    width: 100%;
    height: 500px;
    background: url("../img/bg-home.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.main h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
}

.main p {
    font-style: italic;
    font-size: 1.125rem;
    margin-top: 1rem;
}

/* PASSEIOS HOME */

.passeios-home {
    text-align: center;
}


.passeios-home-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.passeios-home-lista li {
    background: #fff;
    border: 1px solid var(--white-3);
    border-radius: 5px;
    text-align: left;
}

.passeios-home-lista li h2 {
    font-size: 1.125rem;
    color: #fff;
    text-transform: uppercase;
    background: url("../img/paraquedas-home.jpg") no-repeat center center;
    height: 200px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passeios-home-lista li:nth-child(2) h2 {
    background: url(../img/asa-delta-home.jpg);
}

.passeios-home-lista li:nth-child(3) h2 {
    background: url(../img/balonismo-home.jpg);
}

.passeios-home-lista p {
    padding: 2rem;
}

.passeios-home-lista a {
    display: block;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--blue1);
    transition: 0.1s ease-out;
}

.passeios-home-lista a:hover {
    text-decoration: underline;
}